.pollenWidget {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.pollenWidget__wrapper {
    border: 1px solid black;
    padding: 30px;
}

.pollenWidget__type {
    font-size: 21px;
    margin-bottom: 10px;
}

.pollenWidget__index {
    margin-bottom: 10px;
}

